html,body{
	height:100%;
	width:100%;
}
.navbar{
	background-color: #23415C;
	padding: 1% 0;
	font-size: 1.2em;

}
.navbar-brand{
	min-height: 55px;
	padding: 0 15px 5px;
}
.navbar-default .navbar-nav li a {
	color: #D5D5D5;
}

.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a {
	color: #FFF; 
}
#home {
	width: 100%;
	background-color: #F0F8FF;
	padding: 5% 5% 10% 5%;
	
}
.padding {  
	padding: 30px 0;
}
.padding h4{  
	color: black;
}
}
.container {
  display: flex;
}